<div>
    <div class="d-flex justify-content-center mt-4">
        <select class="form-select" style="width: fit-content;" (change)="onSelect($event)" name="chart"> <!--[(ngModel)]="selectedChart"-->
            <option class="text-muted">Charts</option>
            <option>Bar Chart</option>
            <option>Pie Chart</option>
             
        </select>
        <select class="form-select" style="width: fit-content;">
            <option class="text-muted">Select</option>
            <option>Today</option>
            <option>Week</option>
            <option>Forthnight</option>
            <option>Month</option>
            <option>Year</option>
        </select>
        <select class="form-select" style="width: fit-content;">
            <option class="text-muted">Select</option>
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
            <option>2023</option>
            <option>2024</option>
        </select>
        <select class="form-select" style="width: fit-content;">
            <option class="text-muted">Select</option>
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
        </select>
        <select class="form-select" style="width: fit-content;">
            <option class="text-muted">Select</option>
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
        </select>
    </div>
    <section class="section-1-bar justify-content-around flex-wrap" *ngIf="EmployeeList.length > 0" [ngStyle]="currentStyles">
        <app-bar-chart *ngIf="BarChartDisplay" [empList]="EmployeeList"></app-bar-chart>
        <app-pie-chart *ngIf="PiechartDisplay" [empList]="EmployeeList"></app-pie-chart>
    </section>

    
    <a (click)="refresh()"  class="btn btn-success" *ngIf="BarChartDisplay">Refresh Bar</a>
</div>

