<div>
    <h3 class="mt-4">Employees</h3>
    <p class="">Here you will find all employee information</p>
    <p *ngIf="Refreshing">Refreshing..</p>
    <table class="table table-hover mt-5">
        <thead> 
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Role</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Years</th> 
            </tr>  
        </thead>
        <tbody *ngIf="loading" class="d-flex justify-content-end m-4"><tr><div class="spinner-border text-muted"></div></tr></tbody>
        <tbody *ngIf="!loading">
            <tr *ngFor="let employee of EmployeeList">
                <td>{{employee.name}}</td>
                <td>{{employee.surname}}</td>
                <td>{{employee.role}}</td>
                <td>{{employee.position}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.years}}</td>
            </tr>
        </tbody>
    </table>
    
    <div><button class="btn btn-secondary ms-3" (click)="getAllEmployees()">Refresh</button> </div>
    <app-add-employee2></app-add-employee2>
</div>
