<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bar Chart</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body> --> 
<div class="bar-chart mt-4">
    <div class="bar-container h-100">
        <div class="bar" 
        [style.height.%]="(empList[0].hoursWorked/totalDayhours) * 100"
        style="background-color: #3498db;"></div>
        <span class="label">{{empList[0].name + " " + empList[0].surname}}</span>
        <span class="value">{{empList[0].hoursWorked}}h</span>
    </div>

    <div class="bar-container h-100">
        <div class="bar"
        [style.height.%]="(empList[1].hoursWorked/totalDayhours) * 100"
         style="background-color: #e74c3c;"></div>
        <span class="label">{{empList[1].name + " " + empList[1].surname}}</span>
        <span class="value">{{empList[1].hoursWorked}}h</span>
    </div>

    <div class="bar-container h-100">
        <div class="bar" 
        [style.height.%]="(empList[2].hoursWorked/totalDayhours) * 100"
        style="background-color: #2ecc71;"></div>
        <span class="label">{{empList[2].name + " " + empList[2].surname}}</span>
        <span class="value">{{empList[2].hoursWorked}}h</span>
    </div>

    <div class="bar-container">
        <div class="bar" style="height: 50px; background-color: #f1c40f;"></div>
        <span class="label">Ross Geller</span>
        <span class="value">10h</span>
    </div>

    <div class="bar-container">
        <div class="bar" style="height: 70px; background-color: #9b59b6;"></div>
        <span class="label">Chandler Bing</span>
        <span class="value">17h</span>
    </div>
</div>

<!-- </body>
</html> -->

